sudo: required
services:
  - docker

before_install:
  - docker build -t simone/frontend -f Dockerfile.dev .
script:
  - docker run -e CI=true simone/frontend npm run test

deploy:
  provider: elasticbeanstalk
  region: "ap-southeast-2"
  app: "frontend"
  env: "Frontend-env"
  bucket_name: "elasticbeanstalk-ap-southeast-2-905417997869"
  bucket
  bucket_path: "frontend"
  on:
    branch: master



# Access key   AKIA5FTY6HYW5OVVIHAP
# Secret access key   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
